{% include default_before.liquid %}
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>
  <div class="post-info">
    <div class="date">
      <time datetime="{% include date_fr.liquid %}">{% include date_fr.liquid %}</time>
      <span class="fas fa-clock eta"></span>{% include reading_time.liquid %}
    </div>
    <div class="tags">
      {% if page.tags %}<span class="fa fa-tags"></span>{% include print_tags.liquid %}{% endif %}
    </div>
  </div>
  <article>
    {{ page.content }}
  </article>
</div>
<div class="pagination">
{% if page.previous %}
   <a class="arrow left one_arrow" style="max-width: 45%; left: 0px !important;" href="/{{page.previous.permalink}}">{{page.previous.title}}</a>
 {% endif %}
 {% if page.next %}
   <a class="arrow right one_arrow" style="max-width: 45%;" href="/{{page.next.permalink}}">{{page.next.title}}</a>
{% endif %}
</div>
{% include default_after.liquid %}
